// Colores
$font-color: #ffefca;

$w100: 100%;
$links: 50px;

%h2-sections {
  width: 100%;
  color: $font-color;
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 20px;
  text-align: center;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#232526),
    to(#414345)
  );
  background: linear-gradient(to right, #232526, #414345);
}

@mixin square($square) {
  width: $square;
  height: $square;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Kaushan Script", cursive;
  overflow-x: hidden;
}
p {
  font-family: "sans-serif", Verdana;
}
.navbar {
  background-image: linear-gradient(
    to right bottom,
    #323232,
    #393b43,
    #3a4754,
    #335364,
    #266170,
    #1d727f,
    #0f838b,
    #029495,
    #00aeab,
    #00c8c2,
    #00e3d7,
    #14ffec
  );
  border-bottom: 1px $font-color solid;
}
.menu-nav {
  color: #00897e;
  font-size: 1.5rem;
}
/*Estilos y animaciones para menu de redes sociales del navbar*/
.icons {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 1021;
}
.social-nav {
  list-style: none;

  & li {
    @include square($links);
    display: inline-block;
    margin: 0 6px;
    cursor: pointer;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: $w100;
      z-index: -1;
      border-radius: 10%;
      background: linear-gradient(to right, #232526, #414345);
      transition: all 0.3s ease-in;
    }
  }

  & li:hover:before {
    transform: rotate(360deg);
    border-radius: 100%;
  }

  & li a {
    width: $w100;
    display: block;
    text-align: center;
  }

  & li a i {
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    transition: all 0.3s ease-out;
  }

  & li:hover a i {
    transform: scale(1.45);
  }
}
/*Fin de estilos para menu redes sociales de navbar*/
.welcome {
  background-image: url(../bjj.jpg);
  background-size: cover;
}

.welcome-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-container h1 {
  font-size: 4rem;
  padding: 10px;
  color: $font-color;
}

.welcome-container h2 {
  padding: 0 10px;
  color: $font-color;
}
.welcome-container button {
  width: auto;
  color: $font-color;
  font-size: 1rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
}
.welcome-container button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  @include square($w100);
  background-image: linear-gradient(
    to right bottom,
    #323232,
    #393b43,
    #3a4754,
    #335364,
    #266170,
    #1d727f,
    #0f838b,
    #029495,
    #00aeab,
    #00c8c2,
    #00e3d7,
    #14ffec
  );
  border-radius: 0.5rem;
  z-index: -1;
  transition: transform 250ms ease-in-out;
}

.welcome-container button::after {
  transform: scaleX(0);
  transform-origin: right;
}
.welcome-container button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.about-container {
  background-image: url("../images/bjj2.jpg");
  background-size: cover;
}
.nosotros h2 {
  @extend %h2-sections;
}
.row-about h3 {
  color: $font-color;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.row-about p {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  color: $font-color;
  margin-top: 20px;
}
.programas-container {
  background-image: linear-gradient(
    to right,
    #212121,
    #2b2d34,
    #2e3b49,
    #2b4b5c,
    #205c6b,
    #225e6d,
    #245f6e,
    #266170,
    #335364,
    #3a4754,
    #393b43,
    #323232
  );
}
.programas h2 {
  @extend %h2-sections;
}
.skew {
  transition: all 0.25s ease-in-out;
}
/*Media query para eliminar el hover de las tarjetas del menu programas en disposivos moviles*/
@media (min-width: 768px) {
  .skew:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
  }
}

.horario h2 {
  @extend %h2-sections;
}

.horario p {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  color: $font-color;
}
.contacto {
  background-color: #212121;
  border-bottom: 1px $font-color solid;
}
.contacto h3 {
  color: $font-color;
}
.contacto p {
  color: $font-color;
}

.contacto h2 {
  @extend %h2-sections;
}
/*Estilos para seccion de contacto incluyendo el formulario*/
.contacto iframe {
  width: $w100;
  height: 400px;
}
.form-labels {
  font-size: 1rem;
  color: $font-color;
  margin-bottom: 10px;
}
.ftr {
  background-image: linear-gradient(
    to right bottom,
    #323232,
    #393b43,
    #3a4754,
    #335364,
    #266170,
    #1d727f,
    #0f838b,
    #029495,
    #00aeab,
    #00c8c2,
    #00e3d7,
    #14ffec
  );
}
.franja p {
  font-size: 1rem;
  color: $font-color;
}
.franja i {
  margin-right: 10px;
  color: $font-color;
}
.btn-contacto {
  background-color: #0d7377;
  width: 200px;
  margin-left: 10px;
}
/*Fin estilos seccion contacto*/
.social-ftr {
  list-style: none;
}

.social-ftr li a {
  color: $font-color;
  font-size: 1.5rem;
  text-align: center;
  transition: all 1s;
}
.social-ftr li:hover {
  transform: scale(1.2);
}

.ftr-container h2 {
  color: $font-color;
}
